<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/dtsel/dtsel.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <section class="title-panel">
      <div class="flex-container--nowrap">
        <input type="hidden" value="<%= prop._id%>" id="userId">
        <p>
          <span class="title-panel__name" id="first-name"><%= prop.firstName %> </span>
          <span class="title-panel__name" id="middle-name"><%= prop.middleName %> </span>
          <span class="title-panel__name" id="last-name"><%= prop.lastName %> </span>
        </p>
        <button class="btn" id="edit-page-button">Edit Profile</button>
      </div>
      <p class="title-panel__last-activity">Last activity: <%= lastActivity %></p>
    </section>

    <section class="image-carousel">
      <!--
          <img
            src="https://cdn.vox-cdn.com/thumbor/PjZOLcFllU-dkuD2XdaKpeY33U8=/0x0:2000x1334/920x613/filters:focal(744x446:1064x766):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/55825803/hey_arnold_main.0.jpg"
            alt="DUMMY IMAGE">
          <img src="https://www.nme.com/wp-content/uploads/2017/10/Hey-Arnold-movie-696x442.png" alt="DUMMY IMAGE">
          <img
            src="https://static0.thethingsimages.com/wordpress/wp-content/uploads/2021/04/Hey-arnold-cast.jpg?q=50&fit=contain&w=960&h=500&dpr=1.5"
            alt="DUMMY IMAGE">
        -->
    </section>

    <section class="profile-content">
      <div class="card-panels">
        <div class="card flex-container">
          <h4 class="card__title">Contact Information</h4>
          <span>Email:
            <p class="card__item" id="email-content"><%= prop.contactInfo.email %></p>
          </span>
          <span>Phone:
            <p class="card__item" id="phone-content"><%= prop.contactInfo.mobile %></p>
          </span>
          <span>WhatsApp:
            <p class="card__item" id="whatsapp-content"><%= prop.contactInfo.whatsApp %></p>
          </span>
        </div>
        <div class="card flex-container">
          <h4 class="card__title">Attributes</h4>
          <p class="card__item">Date of birth</p>
          <p class="card__item">Age</p>
          <p class="card__item">Nationality</p>
          <p class="card__item">Living in</p>

        </div>
      </div>

      <div class="body-panel">
        <div class="summary" id="summary-section">
          <%= prop.summary %>
        </div>

        <div class="activities">
          <div class="activities__header">
            <h3>Activities</h3>
            <button id="btn-add-activity" class="btn">Add activity</button>
          </div>

          <div class="activities__new-activity hide" id="new-activity-section">
          </div>

          <div class="activities__list">
            <% for (let activity of prop.activities) { %>
            <div class="activities__list--subcontent" id="<%= activity._id %>">
              <p class="date">
                <%= activity.date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              <p><%= activity.desc %></p>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="/js/dtsel/dtsel.js" type="text/javascript"></script>
  <script src="/js/profile.js" type="text/javascript"></script>

  <%- include('../includes/end.ejs') %>